<?xml version="1.0" encoding="UTF-8"?>

<configuration name="dev" status="error">
    <appenders>
        <console name="general-console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5p %c{1} - %m%n"/>
        </console>

        <rollingFile name="general"
                     fileName="logs/general.log" filePattern="logs/$${date:yyyy-MM}/general.%d{yyyy-MM-dd}.log">
            <patternLayout pattern="%d{yyyy.MM.dd HH:mm:ss,SSS} [%t] %-5p %c - %m%n"/>
            <policies>
                <cronTriggeringPolicy schedule="0 0 0 * * ?" evaluateOnStartup="true" />    <!-- rollover every day -->
            </policies>
        </rollingFile>

        <rollingFile name="request"
                     fileName="logs/request.log" filePattern="logs/$${date:yyyy-MM}/request.%d{yyyy-MM-dd}.log">
            <patternLayout pattern="%d{yyyy.MM.dd HH:mm:ss,SSS} [%t] %-5p %c - %m%n"/>
            <policies>
                <cronTriggeringPolicy schedule="0 0 0 * * ?" evaluateOnStartup="true" />
            </policies>
        </rollingFile>

    </appenders>
    <loggers>
        <logger name="requestLogger" level="info" additivity="false">
            <appender-ref ref="request"/>
        </logger>

        <logger name="org.hibernate.SQL" level="info" />

        <root level="info">
            <appender-ref ref="general-console"/>
            <appender-ref ref="general"/>
        </root>
    </loggers>
</configuration>