.sh {
     height: 2em;
     display: table-row;
    vertical-align: middle;
}

.sh__row {

}

.sh__row_hidden {
    display: none;
}

.sh__row-title {
    display: inline-block;
}

.sh__row-cell {
    display: inline-block;
}

