.sh {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.sh__row {
    height: 2em;
    display: table-row;
}

.sh__row_hidden {
    display: none;
}

.sh__row-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 3pt;
    background-color: lightpink;
    border-bottom: 1px solid black;
}

.sh__row-cell_title {
    width: 150px;
    background-color: deepskyblue;
}

.sh__row-cell_price {
    width: 100px;
}