.row {
    height: 2em;
    display: table-row;
}

.row_hidden {
    display: none;
}

.row__cell {
    display: table-cell;
    vertical-align: middle;
    padding: 6px 10px;
    background-color: lightpink;
    border-bottom: 1px solid black;
}

.row__cell_title {
    width: 150px;
    background-color: deepskyblue;
}

.row__cell_price {

}